

#main-doc{
    /* display: block; */
    margin-left: 25%;

    


}
.hhh{

    left: 25%;
}
    
section {

    display: block;
   
}


.main-section{
   display: inline;
}


#nav-header{
    position: fixed;
    z-index: 0;
    background: #333333;
    top: 0;
    left: 0;
    width: 25%;
    overflow-x: hidden;
    height: 100%;

}
#nav-bar{
    display: flex;
    justify-content: space-between;

}

nav ul{
    list-style-type: none;
     display: flex; 
     flex-direction: column;
 
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
   padding-top: 20px;
   padding-left: 0%;
   
  
}
li{

    text-align: center;
   
}
nav a:hover {
    color: #444444;
 } 